@model Proiect_DAW.Models.Task

<h2 class="text-center mt-5">Task Edit</h2>

<br />

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-3">

            @using (Html.BeginForm(actionName: "Edit", controllerName: "Tasks",
            method: FormMethod.Post,
            routeValues: new { id = Model.Id }))
            {
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                @Html.Label("Title", "Task Title")
                <br />
                @Html.EditorFor(m => m.Title, new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                <br />


                @* TODO - add forms for editing the rest of the attributes *@
                @Html.Label("Status", "Task Status")
                @Html.DropDownListFor(m => m.Status, Model.StatusOptions)
                @Html.ValidationMessageFor(m => m.Status, "", new { @class = "text-danger" })
                <br />
                @Html.Label("Description", "Task Description")
                <br />
                @Html.Editor("Description", new { htmlAttributes = new { @class = "form-control" } })

                @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                <br />

                @Html.Label("Content", "Task Content")
                <br />
                @Html.Editor("Content", new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.Content, "", new { @class = "text-danger" })

                <br />

                @Html.Label("StartDate", "Task Start Date")
                <br />
                @Html.Editor("StartDate", new { htmlAttributes = new { @type = "date", @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.StartDate, null, new { @class = "text-danger" })
                <br />

                @Html.Label("FinishDate", "Task Deadline")
                <br />
                @Html.Editor("FinishDate", new { htmlAttributes = new { @type = "date", @class = "form-control" } })
                @Html.ValidationMessageFor(m => m.FinishDate, null, new { @class = "text-danger" })
                <br />

                @Html.Label("Text", "Add additional text to the task")
                <br />
                @Html.Editor("Text", new { htmlAttributes = new { @class = "form-control" } })

                <br />
                @Html.Label("Images", "Add image urls to be displayed in the task")
                <br />
                @Html.Editor("Images", new { htmlAttributes = new { @class = "form-control" } })
                <br />
                @Html.Label("YoutubeVideos", "Add youtube video urls to be displayed in the task")
                <br />
                @Html.Editor("YoutubeVideos", new { htmlAttributes = new { @class = "form-control" } })
                <br />

                <button class="btn btn-success" type="submit">Edit Task</button>
            }

        </div>
    </div>
</div>