@{
    ViewBag.Title = "Index";
}

<br />
<h3 class="text-center">Tasks</h3>
<hr />

<a class="btn btn-primary" href="@Url.Action("Index", "Projects")">Back to projects</a>


@if (TempData["message"] != null)
{
    <div class="alert @ViewBag.Alert p-3 rounded-3 text-center mb-5">
        @ViewBag.Message
    </div>
}


@foreach (Proiect_DAW.Models.Task task in ViewBag.Tasks)
{
    <div class="card text-center card-project">
        <div class="card-body">
            <h3 class="card-title alert-success py-3 px-3 rounded-2">@task.Title</h3>

            <div class="card-text">@task.Description</div>
            <br />
            <div class="card-text">@task.Status</div>
            <hr />

            <hr />
            @if (task.Images != null)
            {
                @foreach (string image in task.Images.Split(';'))
                {
                    <img src="@image" alt="Image" class="img-fluid" />
                }
            }
            <br />
            @*  @if (task.Videos != null)
        {
        @foreach (string video in task.Videos.Split(';'))
        {
        <video controls>
        <source src="@video" type="video/mp4">
        Your browser does not support the video tag.
        </video>
        }
        } *@
            <br />
            @if (task.Text != null)
            {
                <div class="card-text">@task.Text</div>
            }
            <br />
            @if (task.YoutubeVideos != null)
            {
                @foreach (string video in task.YoutubeVideos.Split(';'))
                {
                    <iframe width="560" height="315" src=@video title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                }
            }
            @* <div class="card-text">@task.Text</div> *@
            @* <iframe width="560" height="315")


        @* <iframe width="560" height="315" src=@task.Videos title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> *@


            <div class="card-text">@task.Content</div>

            <hr />

            <div class="d-flex justify-content-between flex-row mt-5">
                <span class="alert-success">@task.StartDate</span>
                <span class="alert-success">@task.FinishDate</span>
            </div>
        </div>

        <a class="btn btn-primary" href="/Tasks/Show/@task.Id">Expand Task</a>
    </div>

    <br />
    <hr />
    <br />
}