@model Proiect_DAW.Models.Task

<h2 class="text-center mt-5">Add a new Task</h2>

<br />

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-3">

            @using (Html.BeginForm(actionName: "New", controllerName: "Tasks",
            method: FormMethod.Post))
            {
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                @Html.Label("Title", "Task Title")
                <br />
                @Html.TextBox("Title", null, new { @class = "form-control" })

                @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                <br />
                @* TODO - add forms for editing the rest of the attributes *@
                @Html.Label("Status", "Task Status")
                @Html.DropDownListFor(m => m.Status, Model.StatusOptions)
                @Html.ValidationMessageFor(m => m.Status, "", new { @class = "text-danger" })
                <br />
                @Html.Label("Description", "Task Description")
                <br />
                @Html.TextArea("Description", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                <br />

                @Html.Label("Content", "Task Content")
                <br />
                @Html.TextArea("Content", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Content, "", new { @class = "text-danger" })
                <br />

                @Html.Label("StartDate", "Task Start Date")
                <br />
                @Html.TextBox("StartDate", null, new { @type = "date", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.StartDate, null, new { @class = "text-danger" })
                <br />

                @Html.Label("FinishDate", "Task Deadline")
                <br />
                @Html.TextBox("FinishDate", null, new { @type = "date", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FinishDate, null, new { @class = "text-danger" })
                <br />

                @Html.Label("Text", "Add additional text to the task")
                <br />
                @Html.TextArea("Text", null, new { @class = "form-control" })

                <br />
                @Html.Label("Images", "Add image urls to be displayed in the task")
                <br />
                @* <input type="file" name="Images" id="Images" accept="image/*"> *@
                @Html.TextBox("Images", null, new { @class = "form-control" })
                <br />
                @* @Html.Label("Videos", "Add videos to be displayed in the task")
            <br />
            <input type="file" name="Videos" id="Videos" accept="video/*">
            <br /> *@
                @Html.Label("YoutubeVideoes", "Or add an embedded link to a youtube video")
                <br />
                @Html.TextBox("YoutubeVideos", null, new { @class = "form-control" })

                <br />

                @Html.Hidden("ProjectId", Model.ProjectId)
                <button class="btn btn-sm btn-success" type="submit">Add Task</button>
            }

        </div>
    </div>
</div>