@model Proiect_DAW.Models.Task

<br />

<a class="btn btn-primary" href="/Tasks/Index?projectId=@Model.ProjectId">Back to Tasks</a>

<div class="card text-center card-project">
    <div class="card-body">
        <h3 class="card-title alert-success py-3 px-3 rounded-2">@Model.Title</h3>

        <div class="card-text">@Model.Description</div>

        <hr />
        <div class="card-text">@Model.Status</div>
        <hr />
        <div class="card-text">@Model.Content</div>

        <hr />

        <div class="d-flex justify-content-between flex-row mt-5">
            <span class="alert-success">@Model.StartDate</span>
            <span class="alert-success">@Model.FinishDate</span>
        </div>
    </div>

    <hr />

    <div class="d-flex flex-row justify-content-between">
        <a class="btn btn-primary" href="/Tasks/Edit/@Model.Id">Edit Task</a>

        @if (@ViewBag.AfisareButoane != null)
        {

            @if (@ViewBag.AfisareButoane)
            {
                <a class="btn btn-primary" href="@Url.Action("IndexTask", "Users", new {taskId = Model.Id})">Add Asignee</a>
            }

        }


        <form method="post" action="/Tasks/Delete/@Model.Id">
            <button type="submit" class="btn btn-danger">Delete Task</button>
        </form>

    </div>
    @foreach (var assignee in Model.Assignees)
    {
        <div class="card text-center card-project ">
            <div class="card-header">
                @assignee.User.Email
            </div>

        </div>
    }

    <hr />
</div>

@* Afisare notes impreuna cu butoanele de editare si stergere *@

@foreach (var note in Model.Notes)
{
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div>
                    <p>@note.Content</p>
                    <small>@note.Date</small>
                </div>

                <br />

                <div class="d-flex">
                    <div>
                        <a class="btn btn-outline-primary" href="/Notes/Edit/@note.Id"><i class="bi bi-pencil-square"></i>Edit</a>
                    </div>

                    <div>
                        <form method="post" action="/Notes/Delete/@note.Id">
                            <button class="btn btn-outline-danger" type="submit"><i class="bi bi-trash"></i>Delete</button>
                        </form>
                    </div>
                </div>
                <br />
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
}


@* Afisarea formularului in care se poate adauga un comentariu *@
<br />
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card text-center card-project">
                <form method="post" action="/Tasks/Show/@Model.Id">
                    <div class="card-body">

                        <input type="hidden" name="TaskId" value="@Model.Id" />

                        <label>Note Content</label>
                        <br />

                        <textarea class="form-control" name="Content"></textarea>
                        @Html.ValidationMessage("Content", "", new { @class = "text-danger" })
                        <br />

                        <button class="btn btn-primary " type="submit">Add Note</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>