@model Proiect_DAW.Models.Project

<h2 class="text-center">Create a new project</h2>
<br />

@using (Html.BeginForm(controllerName: "Projects", actionName: "New",
              method: FormMethod.Post))
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    @Html.Label("Name", "The name of the project")
    <br />
    @Html.TextBox("Name", null, new { @class = "form-control" })

    @Html.ValidationMessage("Name", null, new { @class = "text-danger" })
    <br />
    @Html.Label("Description", "The description of the project")
    <br />
    @Html.TextArea("Description", null, new { @class = "form-control" })

    @Html.ValidationMessage("Description", null, new { @class = "text-danger" })
    <br />
    @Html.Label("Deadline", "When is the deadline of the project")
    <br />
    @Html.TextBox("Deadline", null, new { @type = "date" })
    <br />
    @Html.ValidationMessage("Deadline", null, new { @class = "text-danger" })


    //for state we either make a dropdown or modify it in show based on what the user needs it to be

    <br />
    <button class="btn btn-success" type="submit">Create</button>

}
