@model Proiect_DAW.Models.Project


<a class="btn btn-primary" href="/Projects/Index">Back to homepage</a>
<h2 class="text-center">@Model.Name</h2>



<div class="card text-center card-project ">
    <div class="card-header">
        @Model.Name
    </div>
    <div class="card-body">
        <h5 class="card-title">Your project is: @Model.State</h5>
        <p class="card-text">@Model.Description</p>
    </div>
    <div class="card-footer text-body-secondary">
        Deadline: @Model.Deadline
    </div>
    <div class="d-flex flex-row justify-content-between">



        <a class="btn btn-primary" href="/Projects/Edit/@Model.Id">Edit the project</a>

        <form method="post" action="/Projects/Delete/@Model.Id">

            <button class="btn btn-danger" type="submit">Delete the project</button>

        </form>

    </div>
</div>

<hr />

@foreach (var collab in ViewBag.Collaborators)
{
    <div class="card text-center card-project ">
        <div class="card-header">
            @collab.User.Email
        </div>

    </div>
}
<hr />
<a href="@Url.Action("New", "Tasks", new { projectId = @Model.Id })" class="btn btn-primary">New Task</a>
<a class="btn btn-primary" href="@Url.Action("Index", "Tasks", new { projectId = Model.Id.ToString() })">Show Tasks</a>

@if (@ViewBag.AfisareButoane != null)
{

    @if (@ViewBag.AfisareButoane)
    {
        <a class="btn btn-primary" href="@Url.Action("IndexProject", "Users", new {projectId = Model.Id})">Add Collaborators</a>
    }

}
@*Show all the comments*@

@foreach (var comm in Model.Comments)
{
    <div class="container ">
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8">

                <div>

                    <p>@comm.Content</p>
                    <small>@comm.Date</small>

                </div>
                <br>

                <div class="d-flex">

                    <div>

                        <a class="btn btn-outline-primary" href="/Comments/Edit/@comm.Id"><i class="bi bi-pencil-square"></i>Edit</a>

                    </div>

                    <div>

                        <form method="post" action="/Comments/Delete/@comm.Id">

                            <button class="btn btn-outline-danger" type="submit"><i class="bi bi-trash"></i>Delete</button>

                        </form>

                    </div>

                </div>

                <br />

            </div>

            <div class="col-md-2"></div>

        </div>

    </div>
}

@*Comments section*@

<div class="container ">

    <div class="row">

        <div class="col-md-2"></div>

        <div class="col-md-8">

            <div class="card card-project">

                <form method="post" action="/Projects/Show/@Model.Id">

                    <div class="card-body">

                        <input type="hidden" name="ProjectId" value="@Model.Id" />

                        <label>The content of the comment</label>
                        <br />

                        <textarea class="form-control" name="Content"></textarea>
                        @Html.ValidationMessage("Content", null, new { @class = "text-danger" })
                        <br />

                        <button class="btn btn-primary " type="submit">Post the comment</button>

                    </div>

                </form>

            </div>

        </div>

        <div class="col-md-2"></div>

    </div>

</div>